<a href="https://colab.research.google.com/github/rjtarazonas97/PITUNI_348_python_basico/blob/main/Script05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funcion de entrada(input)



*   La funcion que vamos a utilziar: input
*   Input siempre almacena variables de tipo str
*   Si la varaible a considerar debe ser de naturaleza numerica, entonces debemos UTilizar funciones que transformen lo que input provee en informacion numerica(Constructor)

In [ ]:
# Pidamos al usuario su nombre
nombre_user = input("Ingresa tu primer nombre: ")

Ingresa tu primer nombre: Jesus

In [ ]:
nombre_user

'Jesus'

In [ ]:
type(nombre_user)

str

In [ ]:
#Pidamos mas informacion al usuario
seg_nombre_user = input("Ingresa tu segundo nombre: ")
apell_pat_user = input("Ingresa tu apellido paterno: ")
apell_mat_user = input("Ingresa tu apellido materno: ")

Ingresa tu segundo nombre: Jesus
Ingresa tu apellido paterno: Tarazona
Ingresa tu apellido materno: Sanchez

In [ ]:
type(seg_nombre_user)

str

In [ ]:
type(apell_pat_user)

str

In [ ]:
type(apell_mat_user)

str

In [ ]:
#Pido al usuario su estatura
estatura_user = input("Ingresa tu estatura en metros: ")

Ingresa tu estatura en metros: 1.85

In [ ]:
type(estatura_user)

str

In [ ]:
# actualizar la variable de estatura_user
estatura_user = float(estatura_user)

In [ ]:
estatura_user

1.85

In [ ]:
type(estatura_user)

float

In [ ]:
#En funcion de lo desarrollado y explicado queda claro que el tipo de dato de la varaible
#estatura_user es float (dato de naturaleza numerica)

In [ ]:
#pidamors al usuario su edad, tambien pidamos al usuario su peso en kilos
edad_user = int(input("Ingresa tu edad: "))
peso_user = float(input("Ingresa tu peso en kilos: "))

Ingresa tu edad: 27
Ingresa tu peso en kilos: 118

In [ ]:
edad_user

27

In [ ]:
peso_user

118.0

In [ ]:
type(peso_user)

float

In [ ]:
type(edad_user)

int

In [ ]:
#indice de la masa corporal : imc
imc = peso_user/(estatura_user**2)
imc

34.47772096420745

In [ ]:
#Ejemplo : Pedir al usuario los lados de un rectangulo y proceder con el calculo del area
base = float(input("Ingresa la base del rectangulo: "))
altura = float(input("Ingresa la altura del rectangulo: "))
area = base*altura
area

Ingresa la base del rectangulo: 43
Ingresa la altura del rectangulo: 0.5

21.5

In [ ]:
# Dado el valor de x, aproximar mediante el polinomio de tylor la funcion seno
# seno(x) = x - (x**3/3!) + (x**5/5!) - (x**7/7!) + ...

In [ ]:
#carguemos el modulode math
import math as m
help(m.factorial)

Help on built-in function factorial in module math:

factorial(n, /)
    Find n!.

    Raise a ValueError if x is negative or non-integral.

In [ ]:
# Utilicemos los primero 4 terminos de l polinomio de tylor para aproximar la funcion seno
# en el valor pi/6 radianes

# Este valor puede ser proveido por el usuario
# valor_x = m.pi/6
valor_x = float(input("Ingrese el angulo (En radianes) : "))
# valor proveido del modulo de math
seno_math = m.sin(valor_x)
# Utilizamos el polinomio de tylor para calcular una aproximacion
seno_tylor =  valor_x - ((valor_x**3)/m.factorial(3)) + ((valor_x**5)/m.factorial(5)) - ((valor_x**7)/m.factorial(7))
seno_tylor

Ingrese el angulo (En radianes) : 0.7853

0.7070370545143422

In [ ]:
# En vista que el valor teorico del seno de pi/6 es 0.5, podemos calcular el error
# que comete la funcion sin del modulo math y tambien el error que comete nuestra
#aproximacion de tylor
error_sin = m.fabs( m.sqrt(2)/2 - seno_math)
error_tylor = m.fabs(m.sqrt(2)/2 - seno_tylor)

In [ ]:
error_sin

6.941541074767521e-05

In [ ]:
error_tylor

6.972667220539464e-05

In [ ]:
# Podemos concluir que la aproximacion mas precisa es : error_sin

In [ ]:
 # Ejemplito : calculemos el interes simple de un monto proveido por el usuario a una tasa del 10% anual con un
 # horizonte (t) dado por el usuario.

M0 = float(input("Ingrese el monto inicial: "))
t = float(input("Ingrese el tiempo en años: "))

  # Taza de interes la definimos como una variable
i = 0.1

  # Calculamos el interes
interes = M0 * i * t
interes

Ingrese el monto inicial: 1450
Ingrese el tiempo en años: 2.5

362.5

In [ ]:
# Tambien podemos calcular el monto final
MF = M0 + interes
MF

1812.5

# Funcion de salida: print

In [ ]:
# print : recibe una cade de catracteres
print("Segunda Clase")

Segunda Clase

In [ ]:
# Mostremos el camor del monto final del ejemplo anterior
print("El monto final es: ", MF)

El monto final es:  1812.5

In [ ]:
#
print("El monto inicial es: ", M0)

El monto inicial es:  1450.0

In [ ]:
# Mostramos ambos datos : M0 y MF
print("El monto inicial es: ", M0, "El monto final es: ", MF)

El monto inicial es:  1450.0 El monto final es:  1812.5

In [ ]:
# Mostremos la informacion anterior en dos lineas
print("El monto inicial es: ", M0, "\nEl monto final es: ", MF)

El monto inicial es:  1450.0
El monto final es:  1812.5

In [ ]:
# Ejemplito: Pedir el usuario los 3 lados de un triangulo y calcular su area unsando la formula de Heron

#input : Las entradas que requiero pedir al usuario
lado1 = float(input("Ingrese el primer lado: "))
lado2 = float(input("Ingrese el segundo lado: "))
lado3 = float(input("Ingrese el tercer lado: "))

# Operaciones a realizar para obtener el resultado deseado
semi_perimetro = (lado1 + lado2 + lado3)/2
area_triangulo = (semi_perimetro*(semi_perimetro-lado1)*(semi_perimetro-lado2)*(semi_perimetro-lado3))**0.5

# Output : Las salidas que mostraremos al usuario
print("--------------------------------------------")
print("Los lados ingresado son : ")
print("Lado 1: ", lado1)
print("Lado 2: ", lado2)
print("Lado 3: ", lado3)
print("Usando la formula de HEron : ", area_triangulo)
print("--------------------------------------------")

Ingrese el primer lado: 3
Ingrese el segundo lado: 4
Ingrese el tercer lado: 5
--------------------------------------------
Los lados ingresado son :
Lado 1:  3.0
Lado 2:  4.0
Lado 3:  5.0
Usando la formula de HEron :  6.0
--------------------------------------------

In [ ]:
# Output : Las salidas que mostraremos al usuario
print("--------------------------------------------")
print("Los lados ingresado son : ")
print("Primer lado : %.2f " %(lado1))
print("segundo lado: %.2f \nTercer lado: %.2f" %(lado2, lado3))
print("Usando la formula de Heron : Area : %.4f " %(area_triangulo))
print("--------------------------------------------")

--------------------------------------------
Los lados ingresado son :
Primer lado : 3.00
segundo lado: 4.00
Tercer lado: 5.00
Usando la formula de Heron : Area : 6.0000
--------------------------------------------

In [ ]:
#Otra modificacion al print
print("""
--------------------------------------------
Los lados ingresado son :
Primer lado : %.2f
segundo lado: %.2f
Tercer lado: %.2f
Usando la formula de Heron : Area : %.4f
--------------------------------------------

"""%(lado1, lado2, lado3, area_triangulo))

--------------------------------------------
Los lados ingresado son :
Primer lado : 3.00
segundo lado: 4.00
Tercer lado: 5.00
Usando la formula de Heron : Area : 6.0000
--------------------------------------------

In [ ]:
# Ejemplito: Consideremos que el usuario provee 3 numero punto flotante. Calcular
#el promedio aritmetico, el promedio geometrico y el promedio armonico.

#input : Entradas de mi programita
num1 = float(input("Ingrese el primer numero: "))
num2 = float(input("Ingrese el segundo numero: "))
num3 = float(input("Ingrese el tercer numero: "))

# Operaciones a realizar
# Basadas en : Baldor, A.(1973). Algebra elemental.

# Teoricamente: La media ritmetica se calcula como la suma de lo valores entre enl numero de valores
promedio_aritmetico = (num1 + num2 + num3)/3

# Teoricamente: La media geometrica se calcula como el producto de valores elevado a la inversa del numero de valores
promedio_geometrico = (num1 * num2 * num3)**(1/3)

# Teoricamente : La media armonica de calcula como el numero de valores sobre la suma de inversas de los valores
promedio_armonico = 3/(1/num1 + 1/num2 + 1/num3)

# Output : Salidas de mi programita
# Utilizar la estretegia de docsString
print("""
--------------------------------------------
Los numeros ingresados son :
Primer numero : %.2f
segundo numero: %.2f
Tercer numero: %.2f

Media aritmetica : %.3f
Media geometrica : %.3f
Media armonica : %.3f
--------------------------------------------

Implementacion desarrollada por PIT348

"""%(num1, num2, num3, promedio_aritmetico, promedio_geometrico, promedio_armonico))

Ingrese el primer numero: 12
Ingrese el segundo numero: 13
Ingrese el tercer numero: 19

--------------------------------------------
Los numeros ingresados son :
Primer numero : 12.00
segundo numero: 13.00
Tercer numero: 19.00

Media aritmetica : 14.667
Media geometrica : 14.365
Media armonica : 14.092
--------------------------------------------

Implementacion desarrollada por PIT348